<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Titus - Photo Gallery</title>
        
        {% block styles %}
        {% bootstrap_css%}
        <link rel="stylesheet" href="{% static 'css/basenews.css' %}">
        {% endblock %}

        
    </head>
    <body>
            {% include "navbar.html" %}
	    <div class='container'>
		    <div class="gallery">
                {% block body %}
                {% endblock body %}
		    </div>
		</div>
        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}
    </body>
</html>